body{
  background: #559fff;
}
.animate-panel{
  width:100px;
  height:100px;
  margin-right:10px;
  margin-bottom:10px;
  display:none;
  position:relative;
  float:left;
}
.panel-content{
  width:100%;
  height:100%;
  z-index: 1;
}
.absolute-window{
  background:url('../img/bgTransparent.png');
  padding:1px;
  position:absolute;
  z-index: 2;
  border: 1px solid #4761ff;
}

.login-panel-styles{
  @media only screen and (min-width : 520px) {
    width: 60%;
    padding:30px;
  }
  @media only screen and (max-width : 519px) {
    width: 100%;
    padding:10px;
  }
  background: white;
  border: 2px solid #2e7fff;
  label{
    color:black;
  }
}
.dashboard-container{
  width:95%;
  margin: 10px auto;
}